

.header {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  padding: 90px 50px 90px;
  width: 100%;
  margin: 0 auto;
}
.header_menu-list {
  display: flex;
  gap: 25px;
  word-spacing: 20PX;
}
.header_menu-item {
  list-style: circle;
  word-spacing: 0px;
  text-underline-offset: 4px;
  
}
.header_menu-item_main {
  list-style: none;
  margin-right: 8px;
}
.header_link {
  font-size: 18px;
  white-space: nowrap;
}
.header_link-main {
  text-decoration: none;
}
.auction { 
  padding-left: 7px;
}
.header_logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}
.address {
font-style: inherit;
text-underline-offset: 4px;
line-height: 24px;
}
.header_address {
  justify-self: center;
  margin-left: 120px; 
  line-height: 24px;
}
.address_item {
  display: block;
  font-size: 18px;
}
.address_address {
  font-size: 18px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}
.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
  width: 100%;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}
.cover_title {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  width: 100%;
}
.aligned-text_left {
  text-align: start;
  letter-spacing: 30px;

}
.aligned-text_center {
  letter-spacing: 30px;
  text-align: center;
  margin-right: 70px;
}
.aligned-text_right {
  letter-spacing: 30px;
  text-align: end;
  margin-right: 70px;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  margin-top: 356px;
  padding: 136px 0 0;
}
.cover_description-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18px;
  padding-left: 3px;
}
.button {
  border: 1px white solid;
  padding: 14px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
 
  
}

.lots {
  padding-left: 23px;
  width: 100%;
}
.lots_title {
  padding: 0 0 25px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-top: 3px;
  row-gap: 25px;
}
.lost_card-item {
  height: 100%;
}
.card-link {
  display: block;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  padding: 50px 40px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_cinema {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_painting{
  background-image: url(../images/card-lot-03.jpg);
}
.card_title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card_text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 20px;
}
.lots_link {
  display: block;
  margin: 30px 0 0px 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.about_column_text {
  grid-column: 2/4;
  margin-left: 15px;
}
.about_logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 68px;
  bottom: 30px;
}
.about_logo-image {
  width: 148px;
}
.about_title {
  padding: 70px 0 104px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;

}
.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
  margin-top: 5px;
}
.footer_icon {
  width: auto;
  height: 48px;
}
.footer_menu-list {
  text-align: center;
  list-style: none;
}
.footer_menu-link {
  font-size: 18px;
}
.footer_menu-link_main {
  text-decoration: none;
}
.footer_icon-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
