.header {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  min-height: 293px;
  grid-template-columns: repeat(3, 1.5fr 1fr 1fr);
  align-content: center;
  

}
.header-menu{
  display: grid;
  grid-template-columns: ;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 50px;
  max-width: 600px;
  min-height: 22px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;


}
.header-menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  
}
.header-menu-main {
  text-decoration: none;
  list-style-type: none;
}
.header-menu-item {
  list-style-type: circle;
}

.header-logo {

  margin-left: 200px;
  width: 148px;
  height: 105px;

}
address {
  box-sizing: border-box;
  max-width: 200px;
  min-height: 98px;
  align-items: space-between;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  
}


.cover {
  position: relative;
  z-index: 0;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover; 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover-logo {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 25px;
  width: 100%;
  padding: 155px 50px 0px;
  color: white;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 0.3em; 
}
.aligned-text_left {
  display: block;
  text-align: start;

}
.aligned-text_center {
  display: block;
  text-align: center;
}
.aligned-text_right {
  display: block;
  text-align: end;
}
.description {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  padding-right: 50px;
  padding-left: 50px; 
}
.cover-text {
  z-index: 3;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  word-spacing: 10px;
  

}
.button {
  z-index: 3;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  padding: 0;
  font-weight: 500;
  font-size: 22px;
  background: transparent; 
  text-transform: uppercase;
  color: white;


  
}
.lots {
  width: 1052px;
  min-height: 723px;
  margin: 184px 24px 0 24px;
}
.lots_title {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 25px;

}
.lots_card-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}
.lots_card-list_item {
  width: 334px;
  min-height: 596px;
  

}
.card {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 3;
  position: relative;
  padding: 49px 40px 0 40px;
  margin-top: 14px;
  text-underline-offset: 3px;
}
.card_title {
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin: 48px 40px 0;
}
.card_description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 10px 0px 45px;
}
.card-cinema {
  
  background-image: url(../images/card-lot-01.jpg);
  
  
}
.card-book {
  
  background-image: url(../images/card-lot-02.jpg) ;
    
}
.card-painting {
  
  background-image: url(../images/card-lot-03.jpg) ;
    
}
.card-link {
  height: 100%;
  text-decoration: none;
}


.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-top: 120px;
  margin-left: 24px;
}


.about_logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  background-color: #000;
  border-radius: 50%;
  background: #000;
}

.about_logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about_title {
  margin-top: 136px;
  margin-bottom: 30px;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
 
}

.about_text {
  display: grid;
  gap: 25px;
  width: 690px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}
.footer{

}
.address-footer {

}
.nav-footer {

}
.messenger-icon {

}