

.header {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
  padding: 90px 50px 90px;
  width: 100%;
  margin: 0 auto;
}
.header_menu-list {
  display: flex;
  gap: 25px;
}
.header_menu-item {
  list-style: circle;
}
.header_menu-item_main {
  list-style: none;
  
}
.header_link {
  font-size: 18px;
  white-space: nowrap;
}
.header_link-main {
  text-decoration: none;
}
.header_logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
  margin-left: -30px;
}

.header_address {
  justify-self: end;
  font-style: inherit;
}
.address_item {
  display: block;
  font-size: 18px;
}
.address_address {
  font-size: 18px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}
.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
  width: 100%;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}
.cover_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}
.aligned-text_left {
  display: block;
  text-align: start;
  letter-spacing: 30px;

}
.aligned-text_center {
  letter-spacing: 30px;
  text-align: center;
  margin-right: -20px;
}
.aligned-text_right {
  letter-spacing: 30px;
  text-align: end;
  padding-left: 20px;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}
.cover_description-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: -60px;
  padding-left: 3px;
}
.button {
  border: 1px white solid;
  padding: 14px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: -60px;
  
}

.lots {
  padding: 0 50px;
  width: 100%;
  margin-left: 15px;
}
.lots_title {
  padding: 0 0 30px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}
.lost_card-item {
  height: 100%;
}
.card-link {
  display: block;
  height: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 334px;
  height: 596px;
  padding: 50px 40px;
}
.card_type_cinema {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card_type_painting{
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card_title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card_text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 20px;
}
.lots_link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
.about_column {
  justify-self: center;
}
.about_column_text {
  grid-column: 2/4;
}
.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}
.about_logo-image {
  width: 148px;
}
.about_title {
  padding: 100px 0 104px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}
.footer_icon {
  width: auto;
  height: 48px;
}
.footer_menu-list {
  text-align: center;
  list-style: none;
}
.footer_menu-link {
  font-size: 18px;
}
.footer_menu-link_main {
  text-decoration: none;
}
.footer_icon-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
